<div class="panel-body">
  <form class="form-group">
    <div class="col-lg-5">
      <label i18n>Syatem ID</label>
      <input type="text" class="form-control">
    </div>

    <div class="col-lg-5">
      <label i18n>Terminal ID</label>
      <input type="text" class="form-control">
    </div>

    <div class="col-lg-5">
      <label i18n>Max Amount</label>
      <input type="text" class="form-control">
    </div>

    <div class="col-lg-5">
      <label i18n>Check Type</label>
      <select class="form-control">
        <option value="D">D</option>
        <option value="W">W</option>
        <option value="M">M</option>
      </select>
    </div>

    <div class="col-lg-5">
      <label i18n>Transaction Amount</label>
      <input type="text" class="form-control">
    </div>

    <div class="col-lg-5">
      <label i18n>Transaction Count</label>
      <input type="text" class="form-control">
    </div>

  </form>
</div>
