<div class="panel-body">
  <form class="form-group">
    <div class="col-lg-5">
      <label i18n>Syatem ID</label>
      <input type="text" class="form-control">
    </div>

    <div class="col-lg-5">
      <label i18n>Merchant ID</label>
      <input type="text" class="form-control">
    </div>

    <div class="col-lg-5">
      <label i18n>Terminal ID</label>
      <input type="text" class="form-control">
    </div>

    <div class="col-lg-5">
      <label i18n>Terminal Type</label>
      <input type="text" class="form-control">
    </div>

    <div class="col-lg-5">
      <label i18n>Terminal Serial Number</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-lg-5">
      <label i18n>Switch Terminal Serial Number</label>
      <input type="text" class="form-control">
    </div>

    <div class="col-lg-5">
      <label i18n>Supported Transaction</label>
      <input type="text" class="form-control">
    </div>

    <div class="col-lg-5">
      <label i18n>Le Flag</label>
      <select class="form-control">
        <option value="E">E</option>
        <option value="D">D</option>
      </select>
    </div>

    <div class="col-lg-5">
      <label i18n>Le Key</label>
      <input type="text" class="form-control">
    </div>

    <div class="col-lg-5">
      <label i18n>Surcharge Flag</label>
      <select class="form-control">
        <option value="E">E</option>
        <option value="D">D</option>
      </select>
    </div>

    <div class="col-lg-5">
      <label i18n>Risk Flag</label>
      <select class="form-control">
        <option value="E">E</option>
        <option value="D">D</option>
      </select>
    </div>


  </form>
</div>
