<div class="panel-body">
  <form class="form-group">
    <div class="col-lg-5">
      <label i18n>Syatem ID</label>
      <input type="text" class="form-control">
    </div>

    <div class="col-lg-5">
      <label i18n>Terminal ID</label>
      <input type="text" class="form-control">
    </div>

    <div class="col-lg-5">
      <label i18n>Surcharge Type</label>
      <select class="form-control">
        <option value="F">F</option>
        <option value="P">P</option>
      </select>
    </div>

    <div class="col-lg-5">
      <label i18n>Flat Rate</label>
      <input type="text" class="form-control">
    </div>

    <div class="col-lg-5">
      <label i18n>Percentage</label>
      <input type="text" class="form-control">
    </div>
  </form>
</div>
