<div class="panel-body">
  <form class="form-group">
    <div class="col-lg-5">
      <label i18n>Syatem ID</label>
      <input type="text" class="form-control">
    </div>

    <div class="col-lg-5">
      <label i18n>Terminal ID</label>
      <input type="text" class="form-control">
    </div>

    <div class="col-lg-5">
      <label i18n>Paymode</label>
      <input type="text" class="form-control">
    </div>

    <div class="col-lg-5">
      <label i18n>Network Type</label>
      <select class="form-control">
        <option value="MC">MC</option>
        <option value="VISA">VISA</option>
        <option value="MAET">MAET</option>
        <option value="Rupay">Rupay</option>
      </select>
    </div>

  </form>
</div>
