<div class="panel-body" [formGroup]="merchantBind">
  <div class="form-group">
    <div class="col-lg-5">
      <label for="Country Code" i18n>Country Code</label>
      <input name="countyCode" type="text" class="form-control" formControlName="countyCode" />
    </div>

    <div class="col-lg-5">
      <label for="Country Currency" i18n>Country Currency</label>
      <input name="countryCurrency" type="text" class="form-control"  formControlName="countryCurrency" />
    </div>

    <div class="col-lg-5">
      <label for="status" i18n>Status</label>
      <select name="status" class="form-control"  formControlName="status">
        <option value="A">A(Active)</option>
        <option value="I">I(Inactive)</option>
      </select>
    </div>
    <div class="col-lg-5">
      <label>&nbsp;</label>
      <button type="button" class="form-control btn btn-info col-md-2" (click)="tabs.incrementTab()" i18n>Next</button>
    </div>
  </div>
</div>
